/* Estilos para o cabeçalho */
header {
    background: linear-gradient(to right, #000000, #090A4A); /* Gradiente preto para azul */
    color: #2584D2; /* Texto azul */
    padding: 20px; /* Espaçamento interno */
    text-align: left; /* Alinhamento do texto à esquerda */
    position: absolute; /* Posição absoluta para o canto superior esquerdo */
    top: 0; /* Distância do topo */
    left: 0; /* Distância da esquerda */
    width: 100%; /* Largura total */
    letter-spacing: 2px; /* Espaçamento entre as letras aumentado */
    font-size: 24px; /* Tamanho do texto aumentado */
    font-family: "Neue Machina", sans-serif; /* Fonte Neue Machina */
    
}

/* Estilos para o título */
h1 {
    margin: 0; /* Remover margens padrão */
    font-family: "Neue Machina", sans-serif; /* Fonte Neue Machina */
    letter-spacing: 5px; /* Espaçamento entre as letras */
    flex-grow: 1; /* Ocupar todo o espaço disponível */
    
}

h1 span {
    display: block; /* Exibir em uma nova linha */
    font-family: "Neue Machina", sans-serif; /* Fonte Neue Machina */
    letter-spacing: 5px; /* Espaçamento entre as letras */
    margin-left: 25px; /* Adicionar um pequeno espaçamento à esquerda do span */
}


/* Estilos para o corpo */
body {
    margin: 0; /* Remover margens padrão do corpo */
    height: 100vh; /* Altura total da tela */
    background: linear-gradient(to right, #000000, #090A4A); /* Gradiente preto para azul em todo o fundo */
    font-family: "Neue Machina", sans-serif; /* Fonte Neue Machina */
    overflow: hidden;
}

.note-section {
    position: relative; /* Para que a posição dos elementos internos seja relativa a esta seção */
    margin-top: 20px; /* Espaçamento acima da seção */
    text-align: center; /* Alinhamento centralizado do texto */
}

/* Estilos para a imagem do bloco de notas */
.note-section {
    display: flex; /* Usar flexbox para alinhar itens */
    align-items: center; /* Centralizar verticalmente */
    margin-top: 200px; /* Espaçamento acima da seção */
}

/* Estilos para a seção do bloco de notas */
.note-section {
    position: relative; /* Definir a posição como relativa */
    display: inline-block; /* Garantir que a seção se ajuste ao conteúdo */
    margin-top: 150px; /* Aumentar a margem superior para mover a seção para cima */
}

/* Estilos para a imagem do bloco de notas */
.note-section img {
    width: 400px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantenha a proporção da imagem */
}

/* Estilos para a sobreposição de texto */
.text-overlay {
    position: absolute; /* Definir a posição como absoluta */
    top: 0; /* Alinhar o topo do texto com o topo da seção */
    left: 0; /* Alinhar a esquerda do texto com a esquerda da seção */
    padding: 20px; /* Adicionar preenchimento para espaçamento interno */
    margin-left: 30px;
    line-height: 1.4; /* Aumentar o espaço entre as linhas */
}

.text-overlay h2,
.text-overlay p {
    margin: 0; /* Remover margens padrão */
    color: #164B76; /* Cor do texto */
}

.menu {
    position: absolute; /* Definir a posição como absoluta */
    top: -50px; /* Alinhar o topo do botão com o topo do cabeçalho */
    right: 1400px; /* Alinhar a direita do botão com a direita do cabeçalho */
    background: #2584D2;
    width: 3em;
    height: 3em;
    border-radius: 5em;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    cursor: pointer;
    border: 1em solid #164B76;
  }
  .menu:after {
    content: "";
    position: absolute;
    top: 1em;
    left: 1em;
    width: 1em;
    height: 0.2em;
    border-top: 0.6em double #fff;
    border-bottom: 0.2em solid #fff;
  }
  .menu ul {
    list-style: none;
    padding: 0;
  }
  .menu li {
    width: 5em;
    height: 1.4em;
    padding: 0.2em;
    margin-top: 0.2em;
    text-align: center;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: all 1s;
    background: #164B76;
    opacity: 0;
    z-index: -1;
  }
  .menu:hover li {
    opacity: 1;
  }
  /**
   * Add a pseudo element to cover the space
   * between the links. This is so the menu
   * does not lose :hover focus and disappear
   */
  .menu:hover ul::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    left: 30%;
    top: -5.0em;
    /**
     * The pseudo-element is a semi-circle
     * created with CSS. Top, bottom, and right
     * borders are 6.5em (left being 0), and then
     * a border-radius is added to the two corners
     * on the right.
     */
    border-width: 6.5em;
    border-radius: 0 7.5em 7.5em 0;
    border-left: 0;
    border-style: solid;
    /**
     * Have to have a border color for the border
     * to be hoverable. I'm using a very light one
     * so that it looks invisible.
     */
    border-color: rgba(0,0,0,0.01);
    /**
     * Put the psuedo-element behind the links
     * (So they can be clicked on)
     */
    z-index: -1;
    /**
     * Make the cursor default so it looks like
     * nothing is there
     */
    cursor: default;
  }
  .menu a {
    color: white;
    text-decoration: none;
    /**
     * This is to vertically center the text on the
     * little tab-like things that the text is on.
     */
    line-height: 1.5em;
  }
  .menu a {
    color: white;
    text-decoration: none;
  }
  .menu ul {
    transform: rotate(180deg) translateY(-2em);
    transition: 1s all;
  }
  .menu:hover ul {
    transform: rotate(0deg) translateY(-1em);
  }
  .menu li:hover {
    background: #2584D2;
    z-index: 10;
  }
  
  .menu li:nth-of-type(4) {
    transform: rotate(-90deg);
    position: absolute;
    left: -1.2em;
    top: -4.2em;
  }
  .menu li:nth-of-type(5) {
    transform: rotate(-45deg);
    position: absolute;
    left: 2em;
    top: -3em;
  }
  .menu li:nth-of-type(1) {
    position: absolute;
    left: 3.4em;
    top: 0.3em;
  }
  .menu li:nth-of-type(2) {
    transform: rotate(45deg);
    position: absolute;
    left: 2em;
    top: 3.7em;
  }
  .menu li:nth-of-type(3) {
    transform: rotate(90deg);
    position: absolute;
    left: -1.2em;
    top: 5em;
  }

  .planta{
    width: 600px;
    height: 600px;
    display: flex;
    margin-left: 900px;
    margin-top: -420px;
   }