/* Estilos para o cabeçalho */
header {
    background: linear-gradient(to right, #000000, #090A4A); /* Gradiente preto para azul */
    color: #2584D2; /* Texto azul */
    padding: 20px; /* Espaçamento interno */
    text-align: left; /* Alinhamento do texto à esquerda */
    position: absolute; /* Posição absoluta para o canto superior esquerdo */
    top: 0; /* Distância do topo */
    left: 0; /* Distância da esquerda */
    width: 100%; /* Largura total */
    letter-spacing: 2px; /* Espaçamento entre as letras aumentado */
    font-size: 24px; /* Tamanho do texto aumentado */
    font-family: "Neue Machina", sans-serif; /* Fonte Neue Machina */
    
}

/* Estilos para o título */
h1 {
    margin: 0; /* Remover margens padrão */
    font-family: "Neue Machina", sans-serif; /* Fonte Neue Machina */
    letter-spacing: 5px; /* Espaçamento entre as letras */
    flex-grow: 1; /* Ocupar todo o espaço disponível */
    
}

h1 span {
    display: block; /* Exibir em uma nova linha */
    font-family: "Neue Machina", sans-serif; /* Fonte Neue Machina */
    letter-spacing: 5px; /* Espaçamento entre as letras */
    margin-left: 25px; /* Adicionar um pequeno espaçamento à esquerda do span */
}


/* Estilos para o corpo */
body {
    margin: 0; /* Remover margens padrão do corpo */
    height: 100vh; /* Altura total da tela */
    background: linear-gradient(to right, #000000, #090A4A); /* Gradiente preto para azul em todo o fundo */
    font-family: "Neue Machina", sans-serif; /* Fonte Neue Machina */
}

.note-section {
    position: relative; /* Para que a posição dos elementos internos seja relativa a esta seção */
    margin-top: 20px; /* Espaçamento acima da seção */
    text-align: center; /* Alinhamento centralizado do texto */
}

/* Estilos para a imagem do bloco de notas */
.note-section {
    display: flex; /* Usar flexbox para alinhar itens */
    align-items: center; /* Centralizar verticalmente */
    margin-top: 200px; /* Espaçamento acima da seção */
}

/* Estilos para a seção do bloco de notas */
.note-section {
    position: relative; /* Definir a posição como relativa */
    display: inline-block; /* Garantir que a seção se ajuste ao conteúdo */
    margin-top: 150px; /* Aumentar a margem superior para mover a seção para cima */
}

/* Estilos para a imagem do bloco de notas */
.note-section img {
    width: 400px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantenha a proporção da imagem */
}

/* Estilos para a sobreposição de texto */
.text-overlay {
    position: absolute; /* Definir a posição como absoluta */
    top: 0; /* Alinhar o topo do texto com o topo da seção */
    left: 0; /* Alinhar a esquerda do texto com a esquerda da seção */
    padding: 20px; /* Adicionar preenchimento para espaçamento interno */
    margin-left: 30px;
    line-height: 1.4; /* Aumentar o espaço entre as linhas */
}

.text-overlay h2,
.text-overlay p {
    margin: 0; /* Remover margens padrão */
    color: #164B76; /* Cor do texto */
}

/* Estilos para a seção do botão de informações */
.info-button {
    position: absolute; /* Definir a posição como absoluta */
    top: 25px; /* Alinhar o topo do botão com o topo do cabeçalho */
    right: 825px; /* Alinhar a direita do botão com a direita do cabeçalho */
}

.info-button img {
    width: 100px; /* Ajustar a largura conforme necessário */
    height: auto; /* Mantenha a proporção da imagem */
    cursor: pointer; /* Alterar o cursor para indicar que o botão é clicável */
}

/* Estilos para a barra de botões */
.barra-botoes {
    display: none; /* Ocultar a barra de botões inicialmente */
    position: absolute; /* Definir a posição como absoluta */
    top: 50px; /* Alinhar o topo da barra com o cabeçalho */
    right: 0; /* Alinhar a direita da barra com o lado direito da tela */
    background-color: #fff; /* Cor de fundo da barra */
    padding: 10px; /* Adicionar preenchimento para espaçamento interno */
}

/* Estilos para os botões dentro da barra */
.barra-botoes button {
    display: block; /* Exibir os botões em uma nova linha */
    margin-bottom: 5px; /* Adicionar margem inferior entre os botões */
}

